<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

<servlet>
	<servlet-name>Xykjlj_01101Jd</servlet-name>
	<servlet-class>xykj.Xykjlj_01101Jd</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>Xykjlj_01101Jd</servlet-name>
	<url-pattern>/xykj.Xykjlj_01101Jd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Xykjlj_01201Jd</servlet-name>
	<servlet-class>xykj.Xykjlj_01201Jd</servlet-class>
	<load-on-startup>2</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>Xykjlj_01201Jd</servlet-name>
	<url-pattern>/xykj.Xykjlj_01201Jd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Xykjlj_01301Jd</servlet-name>
	<servlet-class>xykj.Xykjlj_01301Jd</servlet-class>
	<load-on-startup>3</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>Xykjlj_01301Jd</servlet-name>
	<url-pattern>/xykj.Xykjlj_01301Jd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Xykjlj_02101Jd</servlet-name>
	<servlet-class>xykj.Xykjlj_02101Jd</servlet-class>
	<load-on-startup>4</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>Xykjlj_02101Jd</servlet-name>
	<url-pattern>/xykj.Xykjlj_02101Jd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Xykjlj_02201Jd</servlet-name>
	<servlet-class>xykj.Xykjlj_02201Jd</servlet-class>
	<load-on-startup>5</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>Xykjlj_02201Jd</servlet-name>
	<url-pattern>/xykj.Xykjlj_02201Jd</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Xykjlj_02301Jd</servlet-name>
	<servlet-class>xykj.Xykjlj_02301Jd</servlet-class>
	<load-on-startup>6</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>Xykjlj_02301Jd</servlet-name>
	<url-pattern>/xykj.Xykjlj_02301Jd</url-pattern>
</servlet-mapping>

  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>

</web-app>
