/* 2014/11/12 ie10対応 */
/* ie10にて既存(ie6)のbody表示開始位置に合わせる) 14/11/14 */
body {
 position: static;
 margin-top: 7px;
 margin-left: 12px;
 border-style: none none none none;
 overflow-x: scroll;
 overflow-y: scroll;
}


/* TABLE-1 「画面ID」エリア (罫線非表示) [common.jsから参照] 14/11/14 */
/*.ie10tb11 {
 border: solid 1px #A9A9A9;
 border-collapse: separate;
 border-spacing: 2px;
 border-style: none none none none;
 font-size: 9.3pt;
 font-family: "ＭＳゴシック";
 letter-spacing: 0.4px;
}*/
/* TABLE-2 メッセージ表示欄 (罫線非表示) [common.jsから参照] 14/11/14 */
/*.ie10tb21 {
 border: solid 1px #A9A9A9;
 border-collapse: separate;
 border-spacing: 3px;
 border-style: none none none none;
 font-size: 9pt;
}
/*
 font-family: "ＭＳ Ｐゴシック";
 font-family: "ＭＳ ゴシック";
 width:100%;
 height: 400px;
 overflow-y:scroll;
 color:#ff0000;
*/
/* TABLE-3 「更新日」のエリア [Xykjlj_01301J.jsp] */
/*.ie10tb31 {
 border: solid 1px #A9A9A9;
 border-collapse: collapse;
 border-spacing: 0px;
 border-style: none none none none;
 font-size: 9pt;
}*/
/* TABLE-3_1 「更新日」の表の内側の表 [Xykj0130Renewday.java] 14/11/20 */
/*.ie10tb32 {
 border: solid 1px #A9A9A9;
 border-collapse: collapse;
 border-spacing: 0px;
 border-style: none none none none;
 font-size: 9pt;
}*/
/* TABLE-4 「１行目・２行目・３行目」のエリア (罫線非表示) [Xykjlj_01301J.jsp] */
/*.ie10tb41 {
 border: solid 1px #A9A9A9;
 border-collapse: collapse;
 border-spacing: 0px;
 border-style: none none none none;
 font-size: 9pt;
}*/
/* TABLE-5 【書店1】下から2番目の一行表示エリア */
/*.ie10tb51 {
 border: none;
 font-size: 9pt;
 table-layout: fixed;
}*/
/* TABLE-5 【書店2】下から2番目の一行表示エリア */
/*.ie10tb52 {
 border: solid 1px #A9A9A9;
 border-collapse: separate;
 border-spacing: 1px;
 border-style: none solid solid none;
 font-size: 9pt;
 table-layout: fixed;
}*/
/* TABLE-5 【書店3 セル】一番下の明細表示エリア */
/*.ie10tb52 td {
 border: 1px solid #A9A9A9;
 border-style: solid none none solid;
 font-size: 9pt;
}*/
/* TABLE-6 【明細1】一番下の明細表示エリア */
/*.ie10tb61 {
 border: none;
 font-size: 9pt;
 table-layout: fixed;
}*/
/* TABLE-6 【明細2】一番下の明細項目表示エリア */
/*.ie10tb62 {
 border: solid 1px #A9A9A9;
 border-collapse: collapse;
 border-spacing: 1px;
 border-style: none solid solid none;
 font-size: 9pt;
 table-layout: fixed;
}*/
/* TABLE-6 【明細3 セル】一番下の明細項目表示エリア */
/*.ie10tb62 td {
 border: 1px solid #A9A9A9;
 border-style: solid none none solid;
 font-size: 9pt;
 padding:3px 9px;
}*/

/* TABLE-6 【明細2】一番下の明細データ表示エリア */
/*.ie10tb63 {
 border: solid 1px #A9A9A9;
 border-collapse: collapse;
 border-spacing: 1px;
 border-style: none solid solid none;
 font-size: 9pt;
 table-layout: fixed;
}*/
/* TABLE-6 【明細3 セル】一番下の明細データ表示エリア */
/*.ie10tb63 td {
 border: 1px solid #A9A9A9;
 border-style: solid none none solid;
 font-size: 9pt;
 height: 14px;
}*/
/* TABLE-6 【明細4 セル】一番下の明細データ表示項目名エリア(120,130専用) */
/* padding 上右下左 */
/* height:4mm; */
/* font-size: 9pt; */
/*td.ie10tb64 {
 padding-top:1px;
 padding-bottom:0px;
 padding-left:9px;
 padding-right:9px;
 height: 14px;
}*/

table {
  font-size: 9pt;
}

.tbl_bdr{ border-right:ridge; border-bottom:ridge;
/*border-top:ridge; border-left:ridge;*/ /* 2重化 */
}

.th_bdr{ border-top:ridge; border-left:ridge;
/*border-right:ridge; border-bottom:ridge;*/ /* 2重化 */
}

.td_bdr{ border-top:ridge; border-left:ridge;
/*border-right:ridge; border-bottom:ridge;*/ /* 2重化 */
}


/* ボタン中央ぞろえ(上下、左右) */
button, input[type="button"] {
  /*padding:3px 0px;*/
}

::backdrop {
  background-image: #888888;
  opacity: 0.75;
}

.icon {
	font-size: 30px; 
	font-family:'Twitter Color Emoji','EmojiOne Color','Apple カラー絵文字','Apple Color Emoji',
	'Gecko Emoji','Noto Emoji','Noto Color Emoji','Segoe UI Emoji',
	OpenSansEmoji,EmojiSymbols,DFPEmoji,'Segoe UI Symbol 8','Segoe UI Symbol',
	'Noto Sans Symbols',Symbola,Quivira,'和田研中丸ゴシック2004絵文字',WadaLabChuMaruGo2004Emoji,
	'和田研細丸ゴシック2004絵文字',WadaLabMaruGo2004Emoji,'DejaVu Sans','VL Pゴシック',YOzFont,
	'Nishiki-teki','Android Emoji','Sun-ExtA',symbols,places,people,objects,nature,fantasy;
}

.icon2 {
	font-size: 20px; 
}

.nonpoint {
	user-select: none;
}

