/* 2014/11/21 ie10対応 */
/* help画面用 141120-141121 */
body {
 position: static;
 margin-top: 3px;            /* help画面y offset */
 margin-left: 23px;          /* help画面x offset */
 border-style: none none none none;
 /*overflow:scroll;*/
 height: 400px;      /* 400 で♂e5とie10で同じheightでスクロールバー出現 14/11/20 */
 overflow-y:scroll;
}
.ie10tb_h {                  /* 最上行の表 */
 border: 0px solid #A9A9A9;
 border-collapse: collapse;
 border-style: none;
 font-size: 9.6pt;
}
.ie10tb_h td {               /* 最上行の表のセル */
 border: 1px solid #A9A9A9;
 border-style: solid;
 font-size: 9pt;
 font-family: 'ＭＳ Ｐゴシック';
 height: 16;
}
pre {                        /* 説明文エリア */
 margin: 18px 0 18px 0;         /* 上 右 下 左 */
 padding: 1;                 /* 上部の空白 */
 font-size: 9pt;
 font-family: 'ＭＳ ゴシック',monospace;
 line-height: 14.3px;
 letter-spacing: 0;
 width: 100%;
 border-style : none;
 border-width : 0px;
}
.ie10tb_h2 {                 /* 「戻る」ボタン */
 width : 68px;
 height: 20px;
 text-align: center;
 font-size: 9.0pt;
}
hr {                         /* 水平線 */
 margin-top:0px;
 margin-bottom:0px;
}

table {
  font-size: 9pt;
}

.tbl_bdr{ border-right:ridge; border-bottom:ridge;
/*border-top:ridge; border-left:ridge;*/ /* 2重化 */
}

.th_bdr{ border-top:ridge; border-left:ridge;
/*border-right:ridge; border-bottom:ridge;*/ /* 2重化 */
}

.td_bdr{ border-top:ridge; border-left:ridge;
/*border-right:ridge; border-bottom:ridge;*/ /* 2重化 */
}

